In [1]:
import numpy as np
import pandas as pd
import os

#For test train split
from sklearn.model_selection import train_test_split
#To create a confusion matrix
from sklearn.metrics import confusion_matrix
#Loading library
from sklearn.neighbors import KNeighborsClassifier

In [4]:
#Reading the data: 
iris = pd.read_csv("iris.csv")
iris.head()

   sepallength  sepalwidth  petallength  petalwidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [5]:
X = iris[['sepallength','sepalwidth','petallength','petalwidth']]
y = iris['species']

In [6]:
(X_train , X_test, y_train , y_test) = train_test_split(X,y,test_size=0.3,stratify=y, random_state = 100)

In [7]:
#instantiate learning model (k=3)

knn = KNeighborsClassifier(n_neighbors=3)  #3NN

#fitting the model
knn.fit(X_train , y_train)

KNeighborsClassifier(n_neighbors=3)

In [9]:
y_pred = knn.predict(X_test)
y_pred

array(['setosa', 'versicolor', 'virginica', 'versicolor', 'virginica',
       'setosa', 'versicolor', 'setosa', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'versicolor', 'virginica',
       'setosa', 'setosa', 'setosa', 'versicolor', 'setosa', 'setosa',
       'setosa', 'versicolor', 'virginica'], dtype=object)

In [10]:
c= confusion_matrix(y_test , y_pred)
c

array([[15,  0,  0],
       [ 0, 15,  0],
       [ 0,  2, 13]], dtype=int64)

In [11]:
#Loading library
from sklearn.neighbors import KNeighborsRegressor

In [26]:

# IMPORTING AND READING THE CARS FILE
cars=pd.read_csv("cars.csv")

cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [31]:
cars2 = cars.drop(['Car','Origin'],axis =1)
#file_array = np.array( file.drop(['sex','country'],axis=1) )
cars2

      MPG  Cylinders  Displacement  Horsepower  Weight  Acceleration  Model
0    18.0          8         307.0         130    3504          12.0     70
1    15.0          8         350.0         165    3693          11.5     70
2    18.0          8         318.0         150    3436          11.0     70
3    16.0          8         304.0         150    3433          12.0     70
4    17.0          8         302.0         140    3449          10.5     70
..    ...        ...           ...         ...     ...           ...    ...
401  27.0          4         140.0          86    2790          15.6     82
402  44.0          4          97.0          52    2130          24.6     82
403  32.0          4         135.0          84    2295          11.6     82
404  28.0          4         120.0          79    2625          18.6     82
405  31.0          4         119.0          82    2720          19.4     82

[406 rows x 7 columns]

In [32]:
cars2 = cars2.apply(lambda x: ( x - np.mean(x)) / np.std(x))

In [35]:
X = cars2[['Weight','Horsepower','Displacement']]
y = cars2['MPG']

In [44]:
(X_train , X_test, y_train , y_test) = train_test_split(X,y,test_size=0.3, random_state = 4)

In [45]:
knn = KNeighborsRegressor(n_neighbors=3)  #3NN
knn.fit(X_train , y_train)      #fitting the model
y_pred = knn.predict(X_test)

In [46]:
y_pred

array([ 1.18161532, -1.11835189,  0.97902754,  0.04950711,  1.97210492,
        1.38817542,  0.64138123,  1.14189223,  1.26900613,  1.35242463,
       -0.95945951, -1.05876725,  0.30373492, -1.35669046,  0.37523649,
       -0.65756399,  0.51029501, -1.09849034,  0.12498099,  1.63445861,
        0.31167954,  0.26003951, -0.52250546, -1.09849034, -0.91973642,
       -0.95945951,  0.16470409, -1.05876725, -0.3278623 ,  1.73376635,
       -1.23752118, -1.0389057 ,  0.55001811,  0.2123718 ,  1.30475692,
       -1.23752118,  0.44673806, -0.36758539,  0.97902754, -0.14116375,
       -0.93959796, -0.3278623 , -0.95945951,  0.64138123, -0.52250546,
       -0.56222856, -0.40333618,  0.60563044, -1.43613665,  0.95916599,
        1.18161532, -1.11835189,  0.47454423,  0.07334097,  0.43084882,
       -0.93959796,  0.2123718 , -0.04582832, -1.19779808,  1.72582173,
        0.25209489, -0.73701018, -0.95945951, -1.43613665,  0.11703637,
       -1.43613665, -0.35566846,  0.35140263, -0.49072699,  1.36831387,
        0.95916599,  1.6702094 , -1.39641356, -0.6615363 , -1.13424113,
       -1.11835189,  1.3802308 , -0.04185601,  1.36831387, -0.74098249,
       -0.72112094, -1.09849034, -0.52250546, -0.95945951,  1.56295704,
        0.51029501,  0.18853794, -0.44305927,  0.98697216, -0.89987487,
        1.6702094 , -0.74098249, -0.26430534, -0.52647777, -1.15807499,
       -0.52250546, -0.83234561, -0.48278237,  0.82410747,  0.78041206,
        0.42687651,  0.31962416,  1.6304863 ,  1.11011375, -0.97932106,
        0.91149828, -0.52250546,  0.1726487 , -0.35566846, -1.11835189,
        0.85985825,  1.37228618,  1.06641835,  0.35140263, -0.54236701,
       -1.09849034,  1.18558763,  0.64932585,  0.07334097,  0.0455348 ,
        0.2123718 , -0.95945951])